<div class="container">
    <div class="panel panel-primary ">
        <div class="panel-heading ">
            <br> <br>
            <h3 >Đăng ký phòng</h3>
        </div>
        <br>
        <form >
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-3 col-form-label">Tên Phòng:</label>
                <div class="col-sm-4">
<!--                    <p>{{history.room.name}}</p>-->
                    <input type="text" class="form-control" value="{{history.room.name}}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-3 col-form-label">Loại cuộc họp:</label>
                <div class="col-sm-4">
<!--                    <p>{{history.room.roomType.name}}</p>-->
                    <input type="text" class="form-control" value="{{history.room.roomType.name}}" readonly>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-3 col-form-label">Ngày bắt đầu:</label>
                <div class="col-sm-4">
<!--                    <p>{{history.dateStart}}</p>-->
                    <input type="text" class="form-control" value="{{history.dateStart}}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-3 col-form-label">Ngày kết thúc:</label>
                <div class="col-sm-4">
<!--                    <p>{{history.dateEnd}}</p>-->

                    <input type="text" class="form-control" value="{{history.dateEnd}}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-3 col-form-label">Thời gian bắt đầu:</label>
                <div class="col-sm-4">
<!--                    <p>{{history.timeStart}}</p>-->

                    <input type="text" class="form-control" value="{{history.timeStart}}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-3 col-form-label">Thời gian kết thúc:</label>
                <div class="col-sm-4">
<!--                    <p>{{history.timeEnd}}</p>-->
                    <input type="text" class="form-control" value="{{history.timeEnd}}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-3 col-form-label">Nội dung cuộc họp:</label>
                <div class="col-sm-6">
                    <textarea type="text" class="form-control"  PLACEHOLDER="Vui lòng điền nội dung cuộc họp " (change)="soA($event)"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-2">
                    <button type="reset" class="btn btn-warning" (click)="Cancel()">Hủy</button>
                </div>
                <div class="col-sm-5">
                    <button (click)="xacdinh()"  class="btn btn-success">Đăng Ký</button>
                </div>
            </div>
        </form>
    </div>
</div>



