<div class="container">
    <div class="panel panel-primary ">
        <div class="panel-heading ">
            <br> <br>
            <h2 class="text-center">Đăng ký phòng</h2>
        </div>
        <br>
        <form  (ngSubmit)="history">
            <!--       <input formControlName="diadiem">-->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Tên Phòng:</label>
                <div class="col-sm-10">
                    <p>{{history.room.name}}</p>
                    <!--       <input formControlName="room"  >-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Loại cuộc họp:</label>
                <div class="col-sm-3">
                    <p>{{history.room.roomType.name}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Ngày bắt đầu:</label>
                <div class="col-sm-4">
                    <p>{{history.dateStart}}</p>

                    <!--          <input type="text" class="form-control" formControlName="dateStart" >-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Ngày kết thúc:</label>
                <div class="col-sm-4">
                    <p>{{history.dateEnd}}</p>

                    <!--            <input type="text" class="form-control" formControlName="dateEnd" >-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Thời gian bắt đầu:</label>
                <div class="col-sm-3">
                    <p>{{history.timeStart}}</p>

                    <!--            <input type="text" class="form-control" formControlName="timeStart" >-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Thời gian kết thúc:</label>
                <div class="col-sm-3">
                    <p>{{history.timeEnd}}</p>
                    <!--            <input type="text" class="form-control" formControlName="timeEnd" >-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nội dung cuộc họp:</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control"  [value]="soa" (change)="soA($event)"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-2">
                    <button type="reset" class="btn btn-warning" (click)="Cancel()">Hủy</button>
                </div>
                <div class="col-sm-5">
                    <button (click)="xacdinh()"  class="btn btn-success">Đăng Ký</button>
                </div>
            </div>
        </form>
    </div>
</div>



