<div class="container">
  <h2 class="text-center">Thêm tài sản mới</h2>

  <form [formGroup]="formCreateEquipment" (ngSubmit)="onSubmit()">
    <div class="mt-4 p-3">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Tên tài sản:<label
          class="text-danger">(*)</label></label>
        <div class="col-sm-10">
          <input type="text" id="name" name="name" class="form-control" formControlName="name">
          <small class="form-text text-danger col-sm-10"
                 *ngIf="formCreateEquipment.get('name')?.hasError('required') && formCreateEquipment.get('name')?.touched">
            Tên tài sản không được để trống
          </small>
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Mô tả:<label
          class="text-danger"></label></label>
        <div class="col-sm-10">
          <textarea rows="3" id="description" name="description" class="form-control"
                    formControlName="description"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label for="price" class="col-sm-2 col-form-label">Giá:<label class="text-danger">(*)</label></label>
        <div class="col-sm-10">
          <input type="text" id="price" name="price" class="form-control" formControlName="price">
          <small class="form-text text-danger col-sm-10"
                 *ngIf="formCreateEquipment.get('price')?.hasError('required') && formCreateEquipment.get('price')?.touched">
            Giá không được để trống
          </small>
          <small class="form-text text-danger col-sm-10"
                 *ngIf="formCreateEquipment.get('price')?.hasError('min') && formCreateEquipment.get('price')?.touched">
            Giá phải lớn hơn 0
          </small>
        </div>
      </div>

      <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">Loại tài sản:<label
          class="text-danger">(*)</label></label>
        <div class="col-sm-10">
          <select name="category" id="category" class="form-control" formControlName="category">
            <option disabled selected>Loại tài sản</option>
            <option *ngFor="let category of categoryList" [ngValue]="category" [text]="category.name"></option>
          </select>
          <small class="form-text text-danger col-sm-10"
                 *ngIf="formCreateEquipment.get('category')?.hasError('required') && formCreateEquipment.get('category')?.touched">
            Loại tài sản không được để trống
          </small>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Hình ảnh:<label
          class="text-danger">(*)</label></label>
        <div class="col-sm-10">
          <div class="custom-file">
            <input type="file" id="image" name="image" class="custom-file-input" formControlName="image"
                   (change)="selectFile($event)">
            <label class="custom-file-label" for="image">Chọn ảnh</label>
          </div>
          <div class="col-sm-5">
            <div *ngIf="image">
              <img [src]="image" class="img-thumbnail" alt="image">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-12 d-flex justify-content-center ">
          <button class="mr-2 btn btn-secondary" [routerLink]="['/equipment']">Trở về</button>
          <button type="submit" class="ml-2 btn btn-primary">Thêm mới</button>
        </div>
      </div>
    </div>
  </form>
</div>
