<h3>Danh sách tài sản</h3>

<div class="row mx-0">
  <div class="col-2"></div>
  <div class="col-md-5">
    <!--        DatNT-->
    <a [routerLink]="['/equipment/create']">
      <button class="btn btn-primary">Thêm tài sản</button>
    </a>
  </div>
  <div class="col-md-5">
    <input type="text" #seachNameEquipment placeholder="Tên tài sản">
    <button class="btn btn-outline-primary" (click)="search(seachNameEquipment.value)" style="margin-left: 8px">Tìm kiếm</button>
  </div>
</div>
<br>

<div class="table-responsive">
  <table class="table table-striped table-bordered text-center">
    <thead>
    <tr>
      <th>Stt</th>
      <th>Loại</th>
      <th>Tên tài sản</th>
      <th>Trạng thái</th>
      <th>Giá tiền</th>
      <th>Chi tiết</th>
      <th>Sửa</th>
      <th>Xóa</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let equipment of equipmentList | paginate :{itemsPerPage:2 ,currentPage : p} ; let i = index">
      <td>{{i + 1}}</td>
      <td>{{equipment.category.name}}</td>
      <td>{{equipment.name}}</td>
      <td *ngIf="equipment.status == 'FIXING'" style="color: red">Đang sửa</td>
      <td *ngIf="equipment.status == 'AVAILABLE'" style="color: blue">Khả dụng</td>
      <td *ngIf="equipment.status == 'USING'" style="color: darkcyan">Đang sủ dụng</td>
      <td>{{equipment.price | currency}} VNĐ</td>
<!--      DatNT-->
      <td>
        <a [routerLink]="['#']" class="detailButton">
          <i class="fa fa-floppy-o"></i>
        </a>
      </td>
      <td>
        <a (click)="openDialogEdit(equipment)" class="editButton">
          <i class="fa fa-edit"></i>
        </a>
      </td>
      <td>
        <a (click)="openDialogDelete(equipment)" class="deleteButton">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls style="text-align: right" (pageChange)="p = $event"></pagination-controls>

</div>
