<h3>Danh sách tài sản</h3>

<div class="row mx-0">
  <div class="col-2"></div>
  <div class="col-md-5">
    <!--        DatNT-->
    <a [routerLink]="['/equipment/create']">
      <button class="btn btn-primary">Thêm tài sản</button>
    </a>
  </div>
  <div class="col-md-5">

    <label>
      <input class="form-control" type="text" #seachNameEquipment placeholder="Tên tài sản">
    </label>

    <button class="btn btn-outline-primary" (click)="search(seachNameEquipment.value)" style="margin-left: 8px">Tìm kiếm</button>

  </div>
</div>
<br>

<div class="table-responsive">
  <table class="table table-bordered table-hover text-center">
    <thead>
    <tr>
      <th>Stt</th>
      <th>Loại</th>
      <th>Tên tài sản</th>
      <th>Trạng thái</th>
      <th>Giá tiền</th>
      <th>Chi tiết</th>
      <th>Sửa</th>
      <th>Xóa</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let equipment of equipmentList | paginate :{itemsPerPage:10 ,currentPage : p} ; let i = index">
      <td>{{i + 1}}</td>
      <td>{{equipment.category.name}}</td>
      <td>{{equipment.name}}</td>
      <td *ngIf="equipment.status == 'FIXING'" style="color: red">Đang sửa</td>
      <td *ngIf="equipment.status == 'AVAILABLE'" style="color: blue">Khả dụng</td>
      <td *ngIf="equipment.status == 'USING'" style="color: darkcyan">Đang sử dụng</td>
      <td>{{equipment.price | number}} VNĐ</td>
      <!--      DatNT-->
      <td>
        <a [routerLink]="['/equipment/detail/' + equipment.id]" class="detailButton">
          <i class="fa fa-eye"></i>
        </a>
      </td>
      <td>
        <a (click)="openDialogEdit(equipment)" class="editButton">
          <i class="fa fa-edit"></i>
        </a>
      </td>
      <td>
        <a (click)="openDialogDelete(equipment.id)" class="deleteButton">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="row mx-0">
  <div class="col-md-2">
    <button class="btn btn-secondary" [routerLink]="['/equipment']">Trở về</button>
  </div>
  <div class="col-md-10">
    <pagination-controls *ngIf="checkPagination" class="text-right" (pageChange)="p = $event" previousLabel="Trước"
                         nextLabel="Sau"></pagination-controls>
  </div>
</div>
