<div class="body">
  <div class="container">
    <form [formGroup]="createUser" (ngSubmit)="onSubmit()" novalidate>
      <article class="card-body mx-auto" style="max-width: 550px;">
        <h2 class="mt-4 text-center">Thêm người dùng</h2>
        <hr>
        <div class="form-group mt-3 row">
          <label for="username">Tên đăng nhập (<span class="red-asterisk">*</span>)</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Nhập tên đăng nhập"
                 formControlName="username">
        </div>
        <div class="small-red-text"
             *ngIf="createUser.get('username')?.hasError('required') && createUser.get('username')?.touched">
          <p>Tên đăng nhập không được để trống</p>
        </div>
        <div class="small-red-text"
             *ngIf="createUser.get('username')?.hasError('maxlength') && createUser.get('username')?.touched">
          <p>Tên đăng nhập tối đa 30 kí tự</p>
        </div>
        <div class="form-group mt-3 row">
          <label for="password" class="form-label">Mật khẩu (<span class="red-asterisk">*</span>)</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Nhập mật khẩu"
                 formControlName="password">
        </div>
        <div class="small-red-text"
             *ngIf="createUser.get('password')?.hasError('required') && createUser.get('password')?.touched">
          <p>Mật khẩu không được để trống</p>
        </div>
        <div class="small-red-text"
             *ngIf="createUser.get('password')?.hasError('maxlength') &&
             createUser.get('password')?.hasError('minlength') && createUser.get('password')?.touched">
          <p>Mật khẩu tối thiểu 6 kí tự và tối đa 30 kí tự</p>
        </div>
        <div class="form-group mt-3 row">
          <label for="confirmPassword" class="form-label">Xác nhận mật khẩu (<span
            class="red-asterisk">*</span>)</label>
          <input id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Nhập lại mật khẩu"
                 type="password" formControlName="confirmPassword" appConfirmEqualValidator="password">
        </div>
        <div class="small-red-text"
             *ngIf="createUser.get('confirmPassword')?.hasError('required') && createUser.get('confirmPassword')?.touched">
          <p>Xác nhận mật khẩu không được để trống</p>
        </div>
        <div class="small-red-text"
             *ngIf="createUser.get('confirmPassword')?.hasError('notEqual') && createUser.get('confirmPassword')?.touched">
          <p>Mật khẩu xác nhận không khớp</p>
        </div>
        <div class="form-group mt-3 row">
          <label for="role" class="form-label">Quyền (<span class="red-asterisk">*</span>)</label>
          <select id="role" name="role" class="form-control" formControlName="role">
            <option selected value=""></option>
            <option *ngFor="let role of roles" [ngValue]="getKeyName(role)">{{role}}</option>
          </select>
        </div>
        <div class="small-red-text"
             *ngIf="createUser.get('role')?.hasError('required') && createUser.get('role')?.touched">
          <p>Quyền không được để trống</p>
        </div>
        <div class="form-group mt-3 row">
          <label for="fullName" class="form-label">Họ và tên (<span class="red-asterisk">*</span>)</label>
          <input type="text" id="fullName" name="fullName" class="form-control" placeholder="Nhập họ và tên"
                 formControlName="fullName">
        </div>
        <div class="small-red-text"
             *ngIf="createUser.get('fullName')?.hasError('required') && createUser.get('fullName')?.touched">
          <p>Họ và tên không được để trống</p>
        </div>
        <div class="small-red-text"
             *ngIf="createUser.get('fullName')?.hasError('maxlength') && createUser.get('fullName')?.touched">
          <p>Họ và tên tối đa 30 kí tự</p>
        </div>
        <div class="form-group mt-3 row">
          <label for="department" class="form-label">Bộ phận (<span class="red-asterisk">*</span>)</label>
          <select id="department" name="department" class="form-control"
                  formControlName="department">
            <option selected value=""></option>
            <option *ngFor="let department of listDepartment" [ngValue]="department">{{department.name}}</option>
          </select>
        </div>
        <div class="small-red-text"
             *ngIf="createUser.get('department')?.hasError('required') && createUser.get('department')?.touched">
          <p>Bộ phận không được để trống</p>
        </div>
        <div class="form-group mt-3 row">
          <button type="submit" class="btn btn-primary col" [disabled]="createUser.invalid">Thêm</button>
          <button type="reset" class="btn btn-secondary col">Hủy</button>
          <button type="reset" class="btn btn-success col">Về trang</button>
        </div>
      </article>
    </form>
  </div>
</div>
