<h3>Xác nhận xoá</h3>
<hr>

<p>Bạn có chắc chắn muốn xoá thiết bị <span class="text-danger">{{equipment.name}}</span> ?</p>
<p *ngIf="equipment.room !== null">Phòng đang sử dụng: <span class="text-danger">{{equipment.room.name}}</span></p>
<p *ngIf="equipment.room === null">Phòng đang sử dụng: <span class="text-success">Còn trống</span></p>

<div class="row d-flex justify-content-end">
  <button mat-dialog-close class="btn btn-primary mr-3">Đóng</button>
  <button class="btn btn-danger mr-3" [mat-dialog-close]="true">Xóa</button>
</div>


