<h1 mat-dialog-title>Bạn có muốn xóa?</h1>

<mat-dialog-content>
  <ul>
    <li><span>Loại thiết bị: </span>{{equipment.category.name}}</li>
    <li><span>Tên thiết bị: </span>{{equipment.name}}</li>
    <li *ngIf="equipment.room !== null; else check"><span>Phòng đang sử dụng: </span>{{equipment.room.name}}</li>
    <ng-template #check><span>Phòng đang sử dụng: </span>Còn trống</ng-template>
  </ul>
</mat-dialog-content>

<mat-dialog-actions  align="end">
  <button mat-raised-button mat-dialog-close>Đóng</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="true">Xóa</button>
</mat-dialog-actions>
