*{
  margin: 0;
  padding: 0;
}
li{
  background-color: #00C2E5;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid white;
}
li:hover{
  background-color: white;
  color: #00C2E5;
  border: 1px solid #00C2E5;
}
a{
  text-decoration: none;
}
.menu2{
  display: none
}
.menu1:hover  .menu2 {
  display: block;
}
.hambuger{
  display: none;
}
@media only screen and (max-width: 768px) {
  .menu{
    display: none;
  }
  .hambuger{
    display: block;
  }
}
