
<div class="container">
  <h3 class="text-center">Sửa phòng họp</h3>
  <form [formGroup]="updateRoom" (ngSubmit)="save()">
    <div class="mt-4 p-3">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Tên Phòng <span class="required-field">*</span></label>
        <div class="col-sm-10">
          <input type="text" id="name" name="name" formControlName="name" class="form-control" placeholder="Nhập tên phòng họp">
          <small class="form-text text-danger"
                 *ngIf="updateRoom.get('name')?.hasError('required')  && updateRoom.get('name')?.touched">
            Tên phòng không được để trống
          </small>
        </div>

      </div>
      <div class="form-group row">
        <label for="floor" class="col-sm-2 col-form-label">Tầng <span class="required-field">*</span></label>
        <div class="col-sm-10">
          <select formControlName="floor" id="floor" class="form-control">
            <option *ngFor="let floor of floors" [selected]="updateRoom.value.floor.id==floor.id" [ngValue]="floor" value="1">{{floor.name}}</option>
          </select>
          <small class="form-text text-danger"
                 *ngIf="updateRoom.get('floor')?.hasError('required')  && updateRoom.get('floor')?.touched">
            Tầng không được để trống
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="area" class="col-sm-2 col-form-label">Khu vực <span class="required-field">*</span></label>
        <div class="col-sm-10">
          <select name="area" id="area" formControlName="area" class="form-control">
            <option *ngFor="let area of areas" [selected]="updateRoom.value.area.id==area.id" [ngValue]="area">{{area.name}}</option>
          </select>
          <small class="form-text text-danger"
                 *ngIf="updateRoom.get('area')?.hasError('required')  && updateRoom.get('area')?.touched">
            Khu vực không được để trống
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="capacity" class="col-sm-2 col-form-label">Sức chứa <span class="required-field">*</span></label>
        <div class="col-sm-10">
          <input type="text" id="capacity" formControlName="capacity" name="capacity" class="form-control" placeholder="Nhập sức chứa">
          <small class="form-text text-danger"
                 *ngIf="updateRoom.get('capacity')?.hasError('required')  && updateRoom.get('capacity')?.touched">
            Sức chứa không được để trống
          </small>
          <small class="form-text text-danger"
                 *ngIf="updateRoom.get('capacity')?.hasError('pattern')  && updateRoom.get('capacity')?.dirty">
            Sức chứa phải là số lớn hơn 0
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="roomType" class="col-sm-2 col-form-label">Loại phòng <span
          class="required-field">*</span></label>
        <div class="col-sm-10">
          <select name="roomType" id="roomType" formControlName="roomType" class="form-control">
            <option *ngFor="let roomType of roomTypes" [selected]="updateRoom.value.roomType.id==roomType.id" [ngValue]="roomType">{{roomType.name}}</option>
          </select>
          <small class="form-text text-danger"
                 *ngIf="updateRoom.get('roomType')?.hasError('required')  && updateRoom.get('roomType')?.touched">
            Loại phòng không được để trống
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Hình ảnh</label>
        <div class="col-sm-10 input-group">
          <div class="custom-file">
            <input type="file" id="image"   name="image" (change)="showPreview($event)" class="custom-file-input">
            <label class="custom-file-label" for="image">Chọn ảnh</label>
            <small class="form-text text-danger"
                   *ngIf="updateRoom.get('image')?.hasError('required')  && updateRoom.get('image')?.touched">
              Hình ảnh không được để trống
            </small>
            <input type="hidden" formControlName="image"  name="image" class="custom-file-input">
          </div>

        </div>

      </div>
      <div class="form-group row">
        <label  class="col-sm-2 col-form-label"> <span class="required-field"></span></label>
        <div class="col-sm-10">
<!--          <img src="{{updateRoom.value.image}}" width="70px" height="70px">-->
            <img [src]="updateRoom.value.image" *ngIf="updateRoom.value.image"  width="70px" height="70px">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Tài sản:</label>
        <div class="col-sm-10 d-flex justify-content-between">
          <div class="mr-2">
            <button type="button" class="btn btn-outline-info" (click)="openDialogChooseEquipments()">Chọn tài sản
            </button>
          </div>
          <div class="ml-2 p-3 rounded" style="background-color: #637680;">
            <div class="assets-list row">
              <div class="mx-2" style="">

                <div class="card rounded text-center m-2" *ngFor="let equip of equipList">
                  <div class="card-body">
                    <p class="card-text">
                      {{equip.name}}
                    </p>
                  </div>
                  <small class="form-text text-danger" *ngIf="equipList.length==0">
                    Vui lòng chọn tài sản
                  </small>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 text-center">
          <button class="btn btn-secondary mr-4">Trở lại</button>
          <button class="btn btn-primary ml-4" type="submit">Sửa</button>
        </div>
      </div>
    </div>
  </form>

</div>

