<app-slidebar *ngIf="authService.isAuthenticated()"></app-slidebar>
<div [class]="authService.isAuthenticated()? 'page-content': ''" id="content" class="main">
  <div class="container p-5 main-content">
    <router-outlet></router-outlet>
  </div>

  <!-- Site footer -->
<!--  <div *ngIf="authService.isAuthenticated()" class="footer-wrapper">-->
<!--    <footer class="site-footer">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-8 col-sm-6 col-xs-12">-->
<!--            <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by-->
<!--              <a href="#">CodeGym A0121I1</a>.-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="col-md-4 col-sm-6 col-xs-12">-->
<!--            <ul class="social-icons">-->
<!--              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>-->
<!--              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </footer>-->
<!--  </div>-->
</div>





