<form [formGroup]="formChangePassword" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="form-group"></div>
  <div class="container py-12">
    <div class="row">
      <div class="col-md-7 offset-md-3">
        <div class="card card-outline-secondary">
          <div class="card-header">
            <h3 class="mb-0" align="center">Đổi mật khẩu</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="row mb-2">
                <label class="col-sm-4 col-form-label">Mật khẩu cũ</label>
                <p class="col-form-label" style="color: red">(*)</p>
                <div class="col-sm-7">
                  <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" required=""
                         formControlName="oldPassword">
                  <div class="alert alert-danger" role="alert"
                       *ngIf="checkOldPassword" style="color: red">Sai mật khẩu cũ</div>

                </div>
                <i  class=" col-form-label" (click)="toggleFieldTextType()"
                   [ngClass]="{  'fas fa-eye': !fieldTextType,
                                  'far fa-eye-slash': fieldTextType
                              }"
                ></i>

              </div>
            </div>
            <div formGroupName="pwGroup">
              <div class="form-group">
                <div class="row mb-2">
                  <label class="col-sm-4 col-form-label">Mật khẩu mới</label>
                  <p class="col-form-label" style="color: red">(*)</p>
                  <div class="col-sm-7">
                    <input [type]="fieldTextType2 ? 'text' : 'password' " class="form-control" required=""
                           formControlName="newPassword">
                    <div class="alert alert-danger" role="alert" style="color: red"
                         *ngIf="formChangePassword.get('pwGroup')?.invalid && formChangePassword.get('pwGroup')?.dirty">
                      Mật khẩu mới phải có ít nhất 6 ký tự, tối đa 10 ký tự
                    </div>
                  </div>


                  <i class=" col-form-label" (click)="toggleFieldTextType2()"
                     [ngClass]="{  'fas fa-eye': !fieldTextType2,
                                  'far fa-eye-slash': fieldTextType2
                              }"
                  ></i>
                </div>
              </div>
              <div class="form-group">
                <div class="row mb-2">
                  <label class="col-sm-4 col-form-label">Nhập lại mật khẩu mới</label>
                  <p class="col-form-label" style="color: red">(*)</p>
                  <div class="col-sm-7">
                    <input [type]="fieldTextType3 ? 'text' : 'password' " class="form-control" required=""
                           formControlName="confirmPassword">
                    <div class="alert alert-danger" role="alert" style="color: red"
                         *ngIf="formChangePassword.hasError('passwordDontMatch', ['pwGroup']) &&
                           formChangePassword.get('pwGroup')?.touched">
                      Nhập lại mật khẩu mới sai
                    </div>
                  </div>

                  <i class="col-form-label" (click)="toggleFieldTextType3()"
                     [ngClass]="{ 'fas fa-eye': !fieldTextType3,
                                  'far fa-eye-slash': fieldTextType3
                              }"
                  ></i>
                </div>
              </div>
            </div>
            <div align="center">
              <button type="submit" class="btn btn-primary btn-lg ">Lưu
              </button>
              <button type="reset" class="btn btn-secondary btn-lg ">Hủy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


