<form [formGroup]="formChangePassword" #formDirective="ngForm"  (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="form-group"></div>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card card-outline-secondary">
          <div class="card-header">
            <h3 class="mb-0" align="center">Đổi mật khẩu</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Mật khẩu cũ</label>
                <p class="col-form-label" style="color: red">(*)</p>
                <div class="col-sm-7">
                  <input type="password" class="form-control" required="" id="id_password"
                         formControlName="oldPassword">
                  <div *ngIf="checkOldPassword" style="color: red">Sai mật khẩu cũ</div>

                </div>
                <i class="bi bi-eye col-form-label" id="togglePassword"></i>
              </div>
            </div>
            <div class="form-group">
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Mật khẩu mới</label>
                <p class="col-form-label" style="color: red">(*)</p>
                <div class="col-sm-7">
                  <input type="password" class="form-control" required="" id="id_password1"
                         formControlName="newPassword">
                </div>
                <div class="alert alert-danger" role="alert"
                     *ngIf="formChangePassword.get('newPassword')?.invalid && formChangePassword.get('newPassword')?.touched">
                  Mật khẩu phải có 8-20 ký tự và không được chứa khoảng trắng.
                </div>
                <i class="bi bi-eye col-form-label" id="togglePassword1"></i>
              </div>
            </div>
            <div class="form-group">
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Nhập lại mật khẩu mới</label>
                <p class="col-form-label" style="color: red">(*)</p>
                <div class="col-sm-7">
                  <input type="password" class="form-control" required="" id="id_password2"
                         formControlName="confirmPassword">
                  <span *ngIf="formChangePassword.errors" style="color : red;">Nhập lại mật khẩu mới sai</span>

                </div>

                <i class="bi bi-eye col-form-label" id="togglePassword2"></i>
              </div>
            </div>
            <div align="center">
              <button type="submit" class="btn btn-primary btn-lg " [disabled]="formChangePassword.invalid">Lưu</button>
              <button type="submit" class="btn btn-secondary btn-lg ">Hủy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


