<!--<form [formGroup]="form1" (ngSubmit)="onSubmit()" autocomplete="off">-->
<!--  <div class="form-group"></div>-->
<!--  <div class="container py-5">-->
<!--    <div class="row">-->
<!--      <div class="col-md-6 offset-md-3">-->
<!--        <div class="card card-outline-secondary">-->
<!--          <div class="card-header">-->
<!--            <h3 class="mb-0" align="center">Đổi mật khẩu</h3>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <div class="form-group">-->
<!--              <div class="row mb-3">-->
<!--                <label class="col-sm-4 col-form-label">Mật khẩu cũ</label>-->
<!--                <p class="col-form-label" style="color: red">(*)</p>-->
<!--                <div class="col-sm-7">-->
<!--                  <input type="password" class="form-control" required="" id="id_password" formControlName="oldPw">-->
<!--                </div>-->
<!--                <div class="alert alert-danger" role="alert"-->
<!--                     *ngIf="form1.get('oldPw')?.invalid && form1.get('oldPw')?.touched">-->
<!--                  Invalid password!-->
<!--                </div>-->
<!--                <i class="bi bi-eye col-form-label" id="togglePassword"></i>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <div class="row mb-3">-->
<!--                <label class="col-sm-4 col-form-label">Mật khẩu mới</label>-->
<!--                <p class="col-form-label" style="color: red">(*)</p>-->
<!--                <div class="col-sm-7">-->
<!--                  <input type="password" class="form-control" required="" id="id_password1" formControlName="newPw">-->
<!--                </div>-->
<!--                <div class="alert alert-danger" role="alert"-->
<!--                     *ngIf="form1.get('newPw')?.invalid && form1.get('newPw')?.touched">-->
<!--                  Mật khẩu phải có 8-20 ký tự và không được chứa khoảng trắng.-->
<!--                </div>-->
<!--                <i class="bi bi-eye col-form-label" id="togglePassword1"></i>-->
<!--              </div>-->
<!--            </div>-->
            <!--                <div class="form-group">-->
            <!--                  <div class="row mb-3">-->
            <!--                    <label class="col-sm-4 col-form-label">Nhập lại mật khẩu mới</label>-->
            <!--                    <p class="col-form-label" style="color: red">(*)</p>-->
            <!--                    <div class="col-sm-7">-->
            <!--                      <input type="password" class="form-control" required="" id="id_password2"-->
            <!--                             formControlName="confirmPw">-->
            <!--                    </div>-->
            <!--                      <div class="alert alert-danger" role="alert"-->
            <!--                           *ngIf="form1.get('confirmPw')?.invalid && form1.get('confirmPw')?.touched">-->
            <!--                        Để xác nhận, hãy nhập lại mật khẩu mới.-->
            <!--                      </div>-->
            <!--                      <i class="bi bi-eye col-form-label" id="togglePassword2"></i>-->
            <!--                    </div>-->
            <!--                  </div>-->

            <!--            <p *ngIf="form1['checkPassword'].error?.['pwdsDontMatch']">sai</p>-->

<!--            <div align="center">-->
<!--              <button type="submit" class="btn btn-primary btn-lg " [disabled]="form1.invalid">Lưu</button>-->
<!--              <button type="submit" class="btn btn-secondary btn-lg ">Hủy</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->

{{form2.value | json}}
<form [formGroup]="form2" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="form-group"></div>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card card-outline-secondary">
          <div class="card-header">
            <h3 class="mb-0" align="center">username</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Username</label>
                <p class="col-form-label" style="color: red">(*)</p>
                <div class="col-sm-7">
                  <input type="password" class="form-control" required="" formControlName="username">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Old Password</label>
                <p class="col-form-label" style="color: red">(*)</p>
                <div class="col-sm-7">
                  <input type="password" class="form-control" required="" formControlName="oldPassword">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">New Password</label>
                <p class="col-form-label" style="color: red">(*)</p>
                <div class="col-sm-7">
                  <input type="password" class="form-control" required="" formControlName="newPassword">
                </div>
              </div>
            </div>
            <div align="center">
              <button type="submit" class="btn btn-primary btn-lg ">Lưu</button>
              <button type="submit" class="btn btn-secondary btn-lg ">Hủy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<script>
  const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#id_password');

  togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('bi bi-eye col-form-label');
  });
  const togglePassword1 = document.querySelector('#togglePassword1');
  const password1 = document.querySelector('#id_password1');

  togglePassword1.addEventListener('click', function (e) {
    const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
    password1.setAttribute('type', type);
    this.classList.toggle('bi bi-eye col-form-label');
  });
  const togglePassword2 = document.querySelector('#togglePassword2');
  const password2 = document.querySelector('#id_password2');

  togglePassword2.addEventListener('click', function (e) {
    const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
    password2.setAttribute('type', type);
    this.classList.toggle('bi bi-eye col-form-label');
  });
</script>
