<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <fieldset class="form-group border p-5 h-100">
        <legend class="w-auto ">Theo thời gian</legend>
        <div class="form-group row">
          <label for="startDate" class="col-5 px-5 my-2">Thời gian bắt đầu</label>
          <input id="startDate" type="date" class="form-control col-5 my-2">
        </div>
        <div class="form-group row">
          <label for="endDate" class="col-5 px-5 my-2">Thời gian kết thúc</label>
          <input id="endDate" type="date" class="form-control col-5 my-2">
        </div>
        <div class="text-center">
          <button id="btnSearchTime" class="btn btn-primary">Thống
            kê
          </button>
        </div>
      </fieldset>
    </div>
    <div class="col-md-6">
      <fieldset class="form-group border p-5 h-100">
        <legend class="w-auto ">Theo phòng</legend>
        <form [formGroup]="searchForm">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="roomType">Chọn loại phòng</label>
                <select id="roomType" class="form-control" formControlName="roomType" #searchRoomType>
                  <option value="" selected>Chọn</option>
                  <option *ngFor="let roomType of roomTypeList" value="{{roomType.name}}">{{roomType.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="roomName">Chọn phòng</label>
                <select id="roomName" class="form-control" formControlName="roomName" #searchRoomName>
                  <option value="" selected>Chọn</option>
                  <option *ngFor="let room of roomList" value="{{room.name}}">{{room.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-6" formGroupName="timeGroup">
              <div class="form-group">
                <label for="month">Tháng</label>
                <select id="month" class="form-control" formControlName="month" #searchMonth>
                  <option value="" selected>Chọn</option>
                  <option *ngFor="let month of monthList" value="{{month}}">{{month}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="year">
                  Năm
                  <small style="color: red"
                         *ngIf="searchForm.hasError('yearRequired', ['timeGroup'])">
                    (*)</small>
                </label>
                <select id="year" class="form-control" formControlName="year" #searchYear>
                  <option value="" selected>Chọn</option>
                  <option *ngFor="let year of yearList" value="{{year}}">{{year}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button id="btnSearchRoom" class="btn btn-primary"
                    (click)="searchByRoom(searchRoomType.value, searchRoomName.value, searchMonth.value, searchYear.value)">
              Thống kê
            </button>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
  <!-- table -->
  <div class="m-5 text-center alert-danger" *ngIf="registrationList == null">Hiện không có dữ liệu nào phù hợp!</div>
  <div class=" table-responsive" *ngIf="registrationList != null">
    <fieldset class="form-group border p-2 " id="tabeRoom">
      <legend class="w-auto px-2">Kết quả</legend>
      <label *ngIf="searchRoomType.value != ''" class="col-auto"><b>Tên loại phòng:</b> {{searchRoomType.value}}
      </label>
      <label *ngIf="searchRoomName.value != ''" class="col-auto"><b>Tên phòng:</b> {{searchRoomName.value}}</label>
      <label *ngIf="searchRoomName.value != ''" class="col-auto"><b>Tổng số lần sử dụng:</b> {{total}}</label>
      <label *ngIf="searchRoomName.value != ''" class="col-auto"><b>Hiệu suất:</b> {{performance | percent}}</label>
      <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
          <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên người đăng ký</th>
            <th *ngIf="searchRoomName.value != ''" scope="col">Loại phòng</th>
            <th *ngIf="searchRoomType.value != ''" scope="col">Tên phòng</th>
            <th scope="col">Thời gian bắt đầu</th>
            <th scope="col">Thời gian kết thúc</th>
            <th scope="col">Ngày bắt đầu</th>
            <th scope="col">Ngày kết thúc</th>
            <th scope="col">Trạng thái</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-left"
              *ngFor="let registration of registrationList | paginate: { itemsPerPage: 5, currentPage: p}; let i = index">
            <th class="text-center" scope="row">{{i+1}}</th>
            <td class="text-left">{{registration.user.fullName}}</td>
            <td *ngIf="searchRoomName.value != ''" class="text-left">{{registration.room.roomType.name}}</td>
            <td *ngIf="searchRoomType.value != ''" class="text-left">{{registration.room.name}}</td>
            <td class="text-right">{{registration.timeStart}}</td>
            <td class="text-right">{{registration.timeEnd}}</td>
            <td class="text-right">{{registration.dateStart | date:'dd/MM/yyyy'}}</td>
            <td class="text-right">{{registration.dateEnd | date:'dd/MM/yyyy'}}</td>
            <td class="text-left" *ngIf="registration.cancel==false">Chưa hủy</td>
            <td class="text-left" *ngIf="registration.cancel==true">Đã hủy</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Pagination-->
      <div class="container-fluid justify-content-lg-end">
        <pagination-controls class="float-lg-right"
                             previousLabel="Trước"
                             nextLabel="Sau"
                             (pageChange)="p = $event">
        </pagination-controls>
      </div>
    </fieldset>
  </div>

</div>
