<h2>Edit User</h2>


<form [formGroup]="formEditUser" (ngSubmit)="editUser()">

  <div class="form-group">
    <label for="username" id="username" formControlName="username"></label>

  </div>

  <div class="form-group">
    <label for="account.password">Mật Khẩu</label>
    <input formControlName="account.password" type="account.password" class="form-control" id="account.password"
           placeholder="Enter new password">
  </div>

  <div class="form-group">
    <label for="role">Quyền</label>
    <select class="form-control" id="role" formControlName="role">

    </select>
  </div>

  <div class="form-group">
    <label for="full-name">Họ và Tên</label>
    <input type="text" class="form-control" id="full-name" formControlName="full-name">
  </div>

  <div class="form-group">
    <label for="department">Vị Trí</label>
    <select class="form-control" id="department" formControlName="department">
      <option *ngFor="let department of listDepartment"
              [ngValue]="department"
              [text]="department.name"
              [selected]="department.id == formEditUser.value.department?.name"></option>
    </select>

  </div>

  <div class="form-group">
    <button type="cancel" class="btn btn-danger">Cancel</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>

