<div class="alert alert-danger" role="alert" *ngIf="errors">
  {{errors}}
</div>

<div *ngIf="!errors" class="container-fluid">
  <h3 class="text-center">Xem Chi Tiết Phòng Họp</h3>
  <div class="row">
    <div class="col-md-6 mt-5 pl-5 pr-5">
      <div class="row">
        <div class="col-sm-5  col-6">Tên phòng:</div>
        <div class="col-sm-5  col-6">{{room?.name}}</div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-5  col-6">Tầng:</div>
        <div class="col-sm-5  col-6">{{room?.floor.name}}</div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-5  col-6">Khu vực:</div>
        <div class="col-sm-5  col-6">{{room?.area.name}}</div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-5  col-6">Sức chứa:</div>
        <div class="col-sm-5  col-6">{{room?.capacity}}</div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-5  col-6">Loại phòng:</div>
        <div class="col-sm-5  col-6">{{room?.roomType.name}}</div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-5  col-6">Trạng thái:</div>
        <div class="col-sm-5  col-6">{{room?.status}}</div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-5  col-6">Số lần sử dụng:</div>
        <div class="col-sm-5  col-6">{{countRoom}}</div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-5  col-6">Tài sản:</div>
        <div class="col-sm-5  col-6">
          <p *ngIf="room?.equipmentList.length == 0">Không có tài sản nào ở phòng này!</p>
          <ul class="list-group" *ngFor="let equipment of room?.equipmentList">
            <li class="list-group-item">{{equipment.name}}</li>
          </ul>
          <!--          <span >{{room.equipmentList}} </span>-->
        </div>
      </div>

      <div class="ml-5 mt-5 ">
        <button class="btn btn-outline-info" routerLink="/room">Trở lại</button>
        <button class="btn btn-info ml-4" (click)="getHistoryRoomId(room?.id)">Xem lịch sử đăng kí</button>
      </div>
    </div>
    <div class="col-md-6 "   >
      <div class="row mt-2">
        <div class="col-sm-6 mt-2" *ngIf="room?.image">
          <img [src]="room?.image">
        </div>
        <!--        <div class="col-sm-6 mt-2">-->
        <div class="alert alert-primary" role="alert" *ngIf="!room?.image">
          <p>Chưa có ảnh về phòng này</p>
        </div>
        <!--        </div>-->
      </div>

    </div>
  </div>
</div>

<div class="table-responsive mt-3" *ngIf="historyRoomList">
  <h3 class="text-center">Lịch sử đăng ký phòng</h3>
  <table class="table table-striped table-bordered text-center">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên người đăng ký</th>
      <th scope="col">Thời gian bắt đầu</th>
      <th scope="col">Thời gian kết thúc</th>
      <th scope="col">Ngày bắt đầu</th>
      <th scope="col">Ngày kết thúc</th>
      <th scope="col">Trạng thái</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-left"
        *ngFor="let history of historyRoomList | paginate: { itemsPerPage: 7, currentPage: p}; let i=index">
      <th class="text-center" scope="row">{{i+1}}</th>
      <td class="text-left">{{history.user.fullName}}</td>
      <td class="text-right">{{history.timeStart}}</td>
      <td class="text-right">{{history.timeEnd}}</td>
      <td class="text-right">{{history.dateStart | date:'dd/MM/yyyy'}}</td>
      <td class="text-right">{{history.dateEnd | date:'dd/MM/yyyy'}}</td>
      <td class="text-left" *ngIf="history.cancel==false">Chưa hủy</td>
      <td class="text-left" *ngIf="history.cancel==true">Đã hủy</td>
    </tr>
    </tbody>
  </table>
  <!--Pagination-->
  <div class="container-fluid justify-content-lg-end">
    <pagination-controls class="float-lg-right"
                         previousLabel="Trước"
                         nextLabel="Sau"
                         (pageChange)="p = $event">
    </pagination-controls>
  </div>
</div>



