<div class="alert alert-danger" role="alert" *ngIf="errors">
  {{errors}}
</div>

<div *ngIf="!errors" class="container-fluid">
  <h3 class="text-center">Xem Chi Tiết Phòng Họp</h3>
  <div class="row">
    <div class="col-md-6 mt-5 pl-5 pr-5">
      <div class="row ">
        <div class="col-sm-5  col-6">Tên phòng:</div>
        <div class="col-sm-5  col-6">{{room.name}}</div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-5  col-6">Tầng:</div>
        <div class="col-sm-5  col-6">{{room.floor.name}}</div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-5  col-6">Khu vực:</div>
        <div class="col-sm-5  col-6">{{room.area.name}}</div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-5  col-6">Sức chứa:</div>
        <div class="col-sm-5  col-6">{{room.capacity}}</div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-5  col-6">Loại phòng:</div>
        <div class="col-sm-5  col-6">{{room.roomType.name}}</div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-5  col-6">Trạng thái:</div>
        <div class="col-sm-5  col-6">{{room.status}}</div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-5  col-6">Số lần sử dụng:</div>
        <div class="col-sm-5  col-6">{{countRoom}}</div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-5  col-6">Tài sản:</div>
        <div class="col-sm-5  col-6">
          <span *ngFor="let equipment of room.equipmentList">{{equipment.name}}, </span>
        </div>
      </div>

      <div class="ml-5 mt-5 ">
        <button class="btn btn-light" routerLink="/">Trở lại</button>
        <button class="btn btn-info ml-4" routerLink="">Xem lịch sử đăng kí</button>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="row mt-2">
        <div class="col-sm-6 mt-2">
          <img [src]="room.image"  width="700px" height="400px">
        </div>
      </div>
    </div>
  </div>
</div>

