<!--<mat-dialog-content>-->
    <div class="col-md-6 mt-5 pl-5 pr-5">
        <h5>Xem Chi Tiết Phòng Họp</h5>
        <div class="row ">
            <div class="col-sm-5  col-6">Tên phòng:</div>
            <div class="col-sm-5  col-6">{{room.name}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-5  col-6">Tầng:</div>
            <div class="col-sm-5  col-6">{{room.floor.name}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-5  col-6">Khu vực:</div>
            <div class="col-sm-5  col-6">{{room.area.name}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-5  col-6">Sức chứa:</div>
            <div class="col-sm-5  col-6">{{room.capacity}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-5  col-6">Loại phòng:</div>
            <div class="col-sm-5  col-6">{{room.roomType.name}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-5  col-6">Trạng thái:</div>
            <div class="col-sm-5  col-6">{{room.status}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-5  col-6">Tài sản:</div>
<!--            tai san-->
            <!--                <div class="col-sm-5  col-6">-->
            <!--                    <span *ngFor="let equipment of room.equipmentList">{{equipment.name}}, </span>-->
            <!--                </div>-->
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="row mt-2">
            <div class="col-sm-6 mt-2">
                <img [src]="room.image" width="700px" height="400px">
            </div>
        </div>
    </div>
<!--</mat-dialog-content>-->
<!--<mat-dialog-actions>-->
<!--    <button mat-raised-button mat-dialog-close>Đóng</button>-->
<!--</mat-dialog-actions>-->

