<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dailog_chitietphong</title>
</head>
<body>
<body>
<div class="container">
    <div class="panel panel-primary ">
        <div class="panel-heading ">
            <br> <br>

        </div>
        <br>
        <table>
            <tr>
                <td colspan="2"><h4 class="text-center">Tông tin phòng Green</h4></td>
            </tr>
            <tr>
                <td>Tên phòng:</td>
                <td>6.5A</td>
            </tr>
            <tr>
                <td>Tầng:</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Khu vực:</td>
                <td>Khu A</td>
            </tr>
            <tr>
                <td>Sửa chữa:</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Loại phòng:</td>
                <td>1 lần</td>
            </tr>
            <tr>
                <td>Trạng thái:</td>
                <td>Sửa</td>
            </tr>
            <tr>
                <td>Số lần sử dụng:</td>
                <td>100 lần</td>
            </tr>
            <tr>
                <td>Tài sản:</td>
                <td>1 máy chiếu, 2 laptop,50 ghế, 10 bàn</td>
            </tr>
            <tr>
                <td>Hình ảnh mô tả:</td>
                <td><img src="img/dky.png" width="40px" height="40px"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</body>
</html>
