.button-submit{
  margin-left: 50%;
  padding-top: 5%;
}

h1{
  text-align: center;
  color: blue;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 5%;
}

mat-dialog-content, button{
  font-size: 25px;
}

table{
  margin-left: 18%;
}

