<h1 mat-dialog-title>Cập nhật trạng thái thiết bị</h1>

<mat-dialog-content>

  <table>
    <tr>
      <td>Loại thiết bị:</td>
      <td class="content-table">{{equipment.category.name}}</td>
    </tr>
    <tr>
      <td>Tên thiết bị:</td>
      <td class="content-table">{{equipment.name}}</td>
    </tr>
    <tr>
      <td>Trạng thái:</td>
      <td class="content-table">
        <select #element (change)="changeStatus(element.value)">
          <option *ngFor="let status of statusArr" [value]="status"
                  [selected]="status[0] === equipment.status">{{status[1]}}</option>
        </select>
      </td>
    </tr>
  </table>


  <div class="button-submit">
    <button mat-raised-button mat-dialog-close style="margin-right: 8px;">Đóng</button>
    <button mat-raised-button color="primary" (click)="update()">Cập nhật</button>
  </div>

</mat-dialog-content>
